.line--purple {
    width: 100%;
    height: 5px;
    background: $purple;
}

header {
    position: relative;
    width: 100%;
    height: 95px;
    z-index: 100;
    align-items: center;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        z-index: 1000;

        .header--logo {
            padding: 0px 0px 0px 22px;
            z-index: 100;
            font-family: "Roboto", sans-serif;
        }
        .header__menu--button {
            z-index: 100;
            margin-right: 22px;
            top: 1rem;
            right: 1rem;
            width: 1rem;
            height: 1rem;
            border: none;
            cursor: pointer;
            background: transparent;
        }
        .xIcon {
            display: none;
        }
    }
}

.header__menu {
    display: none;
    transition: all 0.4s;
    list-style-type: none;
    align-items: center;
}

.show_link {
    display: none;
}

.menuLink {
    text-decoration: none;
    padding-left:0px; //add padding in media query
    font-family: "Montserrat", sans-serif;
    color: $purple;
    cursor: pointer;

    &:hover {
        border-bottom: 2px solid #5ED7C6;
    }

    &:active {
        color: #9CAFC3;
        border-bottom: none;
    }
}

.button_add_gif {
    width: 54px;
    height: 54px;
    border: 1px solid #572EE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i{
        color: #572EE5;
        font-size: 24px;
    }

    &:hover {
        background: $purple;
        border: none;
        
        i {
            color: #fff;
        }
    }

    &:active {
        background: #9CAFC3;
        border: none;

        i {
            color: #fff;
        }
    }
}

// night mode -----------------
.button_add_gif_night {
    border: 1px solid white;

    i{
        color: white;
    }

    &:hover {
        background: white;
        
        i {
            color: black;
        }
    }
}
// ----------------------------

.header__menu--active {
    position: relative;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(87, 46, 229, 0.9);
    height: 550px;
    list-style: none;
    line-height: 60px;
    font-size: 15px;

    a {
        color: white;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        &::after {
            border-bottom: 1px solid white;
            width: 41px;
            content: "";
            margin: 0 auto;
            display: block;
        }
    }
}

.header__menu--active.dark_menu_color {
    background: #000;
}

.header__menu--button {
    color: $purple;
}

@media screen and (min-width: 960px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .header__container {
        .header__menu--button {
            display: none;
        }
    }

    .header__menu {
        display: flex;
        margin-right: 20px;
        column-gap: 20px;
    }

    .header__menu--active {
        display: none;
    }

    .show_link {
        display: block;
    }
}

@media screen and (min-width: 1264px) {
    header {
        .header__container {
            .header--logo {
                padding: 0px 0px 0px 156px;
            }
        }
    }

    .header__menu {
        display: flex;
        margin-right: 156px;
        column-gap: 48px;
    }
}