.main__container{
    margin-top: 24px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        width: 286px; 
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: $purple;
        text-align: center;
        line-height: 33px;
        span{
            color: $light-green;
        }
    }
    .main__conatiner--image{
        margin-top: 31px;
        width: 273px;
    }
    .main__container--searchbox{
        width: 334px;
        height: 50px;
        border: 2PX solid $purple;
        margin-left: 22px;
        background:transparent;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .main__container--serachbox--input{
            padding-left: 55px;
            outline: none;
            border: none;
            background: none;
            &::placeholder{
                font-family: $roboto;
                color:$gray;
                font-size: 16px;
            }
        }
        .main__container--serachbox--image{
            padding-right: 20px;
        }
    }
    .main__container--trends{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .main__container--trends--title{
            color: $purple;
            font-family: 'Montserrat-Bold','Montserrat';
            font-size: 16px;
            text-align: center;
            line-height: 25px;
            padding-top: 44px;        }
      .main__container--trends--text{
        width:225px;
        font-family: 'Montserrat-Medium','Montserrat';
        font-size: 14px;
        color: $purple;
        text-align: center;
        line-height: 25px;
        font-weight: 530;
        padding-top: 2px;
        margin-bottom: 45px;
    }
}
}