.text_white_night {
    color: white;
}

//header ---------------------------------------------
.line--purple_night {
    background: black;
}
//----------------------------------------------------

// trending section ----------------------------------
.trending_night_color {
    background-color: #222326;
    background: #222326;
}
// -------------------------------------------------

// button general
.button_more_night {
    border: solid 1px white;
    color: white;

    &:hover {
        background-color: white;
        color: black;
    }
}

.bg_night_mode {
    background: #37383C;
}


// search section -----------------------------
.main__container_night {

    h1{
        color: white;
    }

    .main__container--wrapper_night{
  
        .main__container--searchbox{
          background: #37383C;
          border: 2px solid white;
      
          .gray-line {
            background: #9CAFC3;
        }
    
        input {
            color: white;
          }
      
        }
    }
    
    .main__container--searchbox .main__container--serachbox--icon{
        color: white;
    }
}

// ---------------------------------------------
