.trending {
    height: 430px;
    width: 100%;
    background-color: #F3F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        padding: 0px 21px;
        margin-bottom: 32px;
    }
}

.title {
    margin: 46px 0px 7px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    font-size: 20px;
}

//carousel section-------------------------------------
.carousel {
    width: 100%;
    overflow-x: scroll;
    //margin-top: 20px;
    padding: 0px 22px;
    position: relative;
    white-space: nowrap;

    //hidden scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

.carousel-item {
    background-color: #572EE5;
    width: 243px;
    height: 187px;
    overflow: hidden;
    margin-right: 22px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

/* carousel --- item---images---------------------------- */
.carousel-item__img {
    width: $width-trending-phone;
    height: 187px;
    object-fit: cover;
}

.carousel-item__details {
    background: rgba(87, 46, 229,0.6);
    width: $width-trending-phone;
    font-size: 10px;
    color:white;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    //position
    display: grid;
    grid-template-rows: 1fr 1fr;

    &:hover {
        //active color
        opacity: 1;
    }
}

.carousel-item__buttons {
    display: flex;
    justify-content: flex-end;

    img {
        margin-right: 10px;
        width: 32px;
        height: 32px;

        &:last-of-type{
            margin-right: 0px;
        }
    }
}

.carousel-item__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-align: start;
        padding: 0px;
        margin-bottom: 6px;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 16px;
        margin-bottom: 21px;
    }
}



//estilo de footer-------------------------------------
.footer {
    width: 100%;
    height: 201px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
        //final line
        width: 100%;
        height: 5px;
        content: "";
        background: #572EE5;
    }

    p {
        margin: 47px 0px 24px 0px;
    }
    p:nth-of-type(1){
        font-size: 15px;
    }
    p:nth-of-type(2){
        font-size: 14px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: #CDD6E0;
        width: 95px;

        a {
            text-decoration: none;
            color: #CDD6E0;

            i {
                font-size: 16px;
                transition: color .5s ease;
            }
            /* mouse effects */
            &:hover {
                i {
                    color: #572EE5;
                }
            &:active {
                i {
                    color: #CDD6E0;
                }
            }
            }
        }

    }
}

