.trending {
    height: 430px;
    width: 100%;
    background-color: #F3F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;

    #trending__description {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: center;
        padding: 0px 21px;
        margin-bottom: 32px;
    }
}

.title {
    margin: 46px 0px 7px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    font-size: 20px;
}

//carousel section-------------------------------------
.carousel {
    width: 100%;
    overflow-x: scroll;
    //margin-top: 20px;
    padding: 0px 22px;
    position: relative;
    white-space: nowrap;

    //hidden scrollbar
    &::-webkit-scrollbar {
        display: none;
    }

    .bg-modal {
        margin-right: 22px;
    }
    
}

.carousel__container {
    transform: translateX(0px);
    width: 100%;
    position: relative;
}

.carousel__container_inline {
    display: inline;
}

.carousel--button {
    width:40px;
    height:40px;
    //display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid $purple;
    cursor: pointer;
    transition: all 0.3s;

    i {
        font-size: 24px;
        color: $purple;
        transition: all 0.3s;
    }

    &:hover {
        background-color: $purple;

        i {
            color: #fff;
        }
    }
}

.carousel-item {
    @include carousel_item($width-trending-phone,$height-trending-phone)
}

.carousel-item-active {
    //@extend %carousel_item_active;
    background-color: transparent;
    max-width: $width-gif-phone-active-max;
    width: auto;
    height: auto;
    
    display: flex; //maybe change
    flex-direction: column;
    align-items: center;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

/* carousel --- item---images---------------------------- */

.carousel-item__img {
    @include carousel_item_img($width-trending-phone,$height-trending-phone);
}

.carousel-item__img-active {
    //@extend %carousel_item_img_active;
    max-width: $width-gif-phone-active-max;
    max-height: $height-gif-phone-active-max;
    width: auto;
    height: auto;
    object-fit: fill;
    display: flex;
    align-content: center;
}

.carousel-item__details{
    @include carousel_item_details($width-trending-phone);
}

.carousel-item__details-active {
    //@extend %carousel_item_details_active;
    max-width: $width-gif-phone-active-max;
    width: auto;
    font-size: 10px;
    color: black;
    margin-top: 15px;
    
    //position
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.carousel-item__buttons {
    display: flex;
    justify-content: flex-end;

    div {
        margin-right: 10px;
        width: 32px;
        height: 32px;

        &:last-of-type{
            margin-right: 0px;
        }
    }
}

.carousel-item__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        text-align: start;
        padding: 0px;
        margin-bottom: 6px;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 16px;
        margin-bottom: 21px;
        white-space: pre-wrap;
    }
}

.bg-modal {
    display: inline-block;
}

.bg-modal-active {
	background-color: rgba(255, 255, 255, 0.8);
    margin-right: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
    left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 2;
}

.bg-modal__modal-close {
    font-size: 30px;
    color: #572EE5;
    position: absolute;
    z-index: 10;
    top: 100px;
    right: 20px;
    cursor: pointer;
}

.favorite {
    background: url('/assets/icon-fav.svg') center no-repeat ;
    background-size: cover;

    &:hover {
        background: url('/assets/icon-fav-hover.svg');
        background-size: cover;
    }
}

.favorite_active {
    background: url('/assets/icon-fav-active.svg') center no-repeat;
    background-size: cover;
}

#download {
    background: url('/assets/icon-download.svg') center no-repeat ;
    background-size: cover;

    &:hover {
        background: url('/assets/icon-download-hover.svg');
        background-size: cover;
    }
}

#max{
    background: url('/assets/icon-max-normal.svg') center no-repeat ;
    background-size: cover;

    &:hover {
        background: url('/assets/icon-max-hover.svg');
        background-size: cover;
    }
}

//estilo de footer-------------------------------------
.footer {
    width: 100%;
    height: 201px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
        //final line
        width: 100%;
        height: 5px;
        content: "";
        background: #572EE5;
    }

    p {
        margin: 47px 0px 24px 0px;
    }
    p:nth-of-type(1){
        font-size: 15px;
    }
    p:nth-of-type(2){
        font-size: 14px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: #CDD6E0;
        width: 95px;

        a {
            text-decoration: none;
            color: #CDD6E0;

            i {
                font-size: 16px;
                transition: color .5s ease;
            }
            /* mouse effects */
            &:hover {
                i {
                    color: #572EE5;
                }
            &:active {
                i {
                    color: #CDD6E0;
                }
            }
            }
        }

    }
}

.footer-active{
    &::after {
        background: #37383C;
    }
}

//media-queries------------------------------------------------
@media screen and (min-width: 960px) and (max-width: 1264px) {
    .trending {
        height: 640px;
    
        #trending__description {
            font-size: 18px;
            margin-bottom: 53px;
        }
    }

    .title {
        margin: 67px 0px 12px 0px;
        font-size: 25px;
    }

    .carousel {
        width: 800px;
        overflow-x: scroll;
    
        //hidden scrollbar
        .bg-modal {
            margin-right: 25px;
        }
        
    }

    .carousel--button {
        display: flex;
    }

    .carousel-item {
        @include carousel_item($width-trending-md,$height-trending-md);
    }
    
    .carousel-item-active {
        //@extend %carousel_item_active;
        max-width: $width-gif-md-active-max;
        background-color: transparent;
        width: auto;
        height: auto;
        
        display: flex; //maybe change
        flex-direction: column;
        align-items: center;
        transition: 450ms all;
        transform-origin: center left;
        position: relative;
    }
    
    /* carousel --- item---images---------------------------- */
    
    .carousel-item__img {
        @include carousel_item_img($width-trending-md, $height-trending-md);
    }
    
    .carousel-item__img-active {
        max-width: $width-gif-md-active-max;
        max-height: $height-gif-md-active-max;
        width: auto;
        height: auto;
    }
    
    .carousel-item__details{
        @include carousel_item_details($width-trending-md);
    }
    
    .carousel-item__details-active {
        //@extend %carousel_item_details_active;
        max-width: $width-gif-md-active-max;
        width: auto;
        font-size: 16px;
        margin-top: 27px;
        
        //position
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .carousel-item__info {
        overflow-x: hidden;
        p {
            text-align: start;
        }
    
        h3 {
            margin-bottom: 21px;
            white-space: pre-wrap;
        }
    }
    
    .bg-modal__modal-close {
        font-size: 30px;
        top: 100px;
        right: 100px;
    }
}