$purple:#572EE5;
$light-green:#50E3C2;
$gray:#6B7989;
$roboto:'Roboto-Regular','Roboto';
$width-trending-phone: 243px;
$width-trending-phone-active-max: 320px;
$height-trending-phone-active-max: 430px;
