@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap%27");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.line--purple {
  width: 100%;
  height: 5px;
  background: #572EE5;
}

header {
  background: white;
  width: 100%;
  height: 96px;
}

header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 22px;
  z-index: 1000;
}

header .header__container .header--logo {
  padding-top: 42px;
  z-index: 100;
  font-family: 'Roboto', sans-serif;
}

header .header__container .header__menu--button {
  padding-top: 52px;
  z-index: 100;
  margin-right: 22px;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border: none;
  background: white;
  cursor: pointer;
  color: #572EE5;
}

header .header__container .header__menu--button .xIcon {
  display: none;
}

header .header__menu {
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__menu--active {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(87, 46, 229, 0.9);
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  height: 550px;
  list-style: none;
  line-height: 60px;
  font-size: 15px;
}

.header__menu--active a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.header__menu--active a::after {
  border-bottom: 1px solid white;
  width: 41px;
  content: "";
  margin: 0 auto;
  display: block;
}

.main__container {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container h1 {
  width: 286px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
}

.main__container h1 span {
  color: #50E3C2;
}

.main__container .main__conatiner--image {
  margin-top: 31px;
  width: 273px;
}

.main__container .main__container--searchbox {
  width: 334px;
  height: 50px;
  border: 2PX solid #572EE5;
  margin-left: 22px;
  background: transparent;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__container .main__container--searchbox .main__container--serachbox--input {
  padding-left: 55px;
  outline: none;
  border: none;
}

.main__container .main__container--searchbox .main__container--serachbox--input::-webkit-input-placeholder {
  font-family: "Roboto-Regular", "Roboto";
  color: #6B7989;
  font-size: 16px;
}

.main__container .main__container--searchbox .main__container--serachbox--input:-ms-input-placeholder {
  font-family: "Roboto-Regular", "Roboto";
  color: #6B7989;
  font-size: 16px;
}

.main__container .main__container--searchbox .main__container--serachbox--input::-ms-input-placeholder {
  font-family: "Roboto-Regular", "Roboto";
  color: #6B7989;
  font-size: 16px;
}

.main__container .main__container--searchbox .main__container--serachbox--input::placeholder {
  font-family: "Roboto-Regular", "Roboto";
  color: #6B7989;
  font-size: 16px;
}

.main__container .main__container--searchbox .main__container--serachbox--image {
  padding-right: 20px;
}

.main__container .main__container--trends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__container .main__container--trends .main__container--trends--title {
  color: #572EE5;
  font-family: 'Montserrat-Bold','Montserrat';
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  padding-top: 44px;
}

.main__container .main__container--trends .main__container--trends--text {
  width: 225px;
  font-family: 'Montserrat-Medium','Montserrat';
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  font-weight: 530;
  padding-top: 2px;
}
/*# sourceMappingURL=styles.css.map */